.top{
    background-color: #2A2356;
}

.topImage{
    height:auto;
    width: 6rem;
}

.middle{
    background-color: #E0D9F6;
}

.images img{
    height: auto;
    width: 4rem;
}

.coolQuote{
    background-color: #C252E1;
}

.bottom {
    background-color: #E0D9F6;
}

.callToAct{
    background-color: #586AE2;
}

.footer {
    background-color: #2A2356;
}