*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #1F2937;
    padding: 10px;
}
.top{
    background-color: #1F2937;
    padding: 10px;
    margin: 0;
    border: 0;
}
.top img{
    height:auto;
    width: 6rem;
}

.images img{
    height: auto;
    width: 4rem;
}

.coolQuote{
    background-color: #E5E7EB;
}

.callToAct{
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
}