*{
    background-color: #E0D9F6;
}
.top{
    background-color: #2A2356;
}

.top img{
    height:auto;
    width: 6rem;
}

/*.middle{
}*/

.images img{
    height: auto;
    width: 4rem;
}

.coolQuote{
    background-color: #C252E1;
}

/*.bottom {

}*/

.callToAct{
    background-color: #586AE2;
}

.footer {
    background-color: #2A2356;
}